{% extends 'base.html' %}
{% load static %}
{% block title %}| Edit Profile | {{request.user.name}}{% endblock title %}
{% block content %}
<main>
    <div class="edit-profile">
        <form action="" method="POST">
            {% csrf_token %}
            <input type="text" name="address" placeholder="Enter address" /> <br>
            <input type="text" name="bio" placeholder="Brief About Yourself" /> <br>
            <input type="submit" value="Update">
        </form>
    </div>
</main>
{% endblock content %}