{% extends 'base.html' %}
{% load static %}
{% block title %}| Message{% endblock title %}
{% block content %}
<main>
    <div class="message">
        <form action="" method="POST">
            {% csrf_token %}
            {% if messages %}
            {% for message in messages %}
            {{ message }}
            {% endfor %}
            {% endif %}
            <br>
            <label for="amount">Message</label>
            <input type="text" name="message">

            <input type="submit" value="Send">
        </form>
    </div>
</main>
{% endblock content %}