{% extends 'base.html' %}
{% load static %}
{% block title %}| Transaction{% endblock title %}
{% block content %}
<main>
    <div class="transaction">
        <ol>
            {% if messages %}
            {% for message in messages %}
            {{message}}
            {% endfor %}
            {% endif %}


            {% for transaction in transactions %}
            <li>
                {{transaction.sender}} sent {{transaction.amount}}$ to
                {{transaction.receiver}}.

                <br>
                Transaction ID: {{transaction.transaction_id}}
            </li>
            {% endfor %}

        </ol>
    </div>
</main>
{% endblock content %}